.main-header{
    width: 100%;
    display:flex;
}

.my-name{
    flex:1;
    display: flex;
    justify-content: flex-start;
    margin-left:115px;
}

.my-profession{
    display: flex;
    flex:1;
    justify-content: flex-end;
    margin-right:115px;
}